<div class="dashboard">
  <aside class="sidebar panel">
    <div class="brand">
      <span class="dot"></span>
      <h1>Bless Chuch</h1>
    </div>

    <nav>
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/sobre-nosotros" routerLinkActive="active">Sobre Nosotros</a>
      <a routerLink="/radio" routerLinkActive="active">Radio</a>
      <a routerLink="/donaciones" routerLinkActive="active">Donaciones</a>
    </nav>

    <small>Angular 20 · Dashboard</small>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>
